.color{
    background-color: rgb(255, 188, 18);
    color: white;
}

.color1{
    background-color: rgb(74, 74, 74);
    color: white;
}

.color2{
    background-color: rgb(115, 115, 115);
    color: white;
}

.color3{
    background-color: rgb(74, 74, 74);
    color: white;
    width: 44%;
    border-radius: 50px;
}

.color4{
    background-color: rgb(255, 160, 18) !important; 
    color: white;
}
